@font-face { font-family: Garamond; src: url('Garamond.ttc'); } 
@font-face { font-family: Avenir; src: url('av.ttf'); } 

body {
  font-family: Garamond;
  font-size: 18px;
  line-height: 1.5em;
  letter-spacing: .04em;
  /*
  font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
  line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 300px)/(1600 - 300)));
  */
}

#menu {
  float: right;
  margin-top: 7.5vh;
  margin-right: 3.5vw;
  text-align: right;
  width: 8em;
  font-family: Avenir;
  line-height: .4em;
}

#menu .title a { 
  font-size:1em; 
  letter-spacing: .07em;
  color: black; 
  text-decoration: none;
}

#menu ul {
  font-size: .83em;
  letter-spacing: 0ch;
  list-style-type: none;
}

#menu li a {
  color: #0864c7;
}

#left {
  height: 1px;
  float: left;
  display: block;
  min-width: 0;
  overflow: hidden;
  width: 14vw;
  margin: 0;
  padding: 0;
}

#main {
  margin-top: 20vh;
  float: left;
  width: 45vw;
}

@media (max-width:450px) {

  #menu {
    margin-top: 5vh;
    margin-right: 1vw;
  }

  #left {
    width: 0px;
  }

  #main {
    margin-top: 5vh;
    width: 90vw;
  }
}