/* this is copied from Patrick Collison's site.  */

@font-face { font-family: Baskerville; src: url('font.ttf'); }
@font-face { font-family: Garamond; src: url('Garamond.ttc'); } 
@font-face { font-family: Avenir; src: url('av.ttf'); } 

body {
  font-family: Garamond;
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 26px;
}

#menu {
  float: right;
  margin-top: 40px;
  margin-right: 30px;
  text-align: right;
  width: 150px;
  font-family: Avenir;
  font-size: 14px;
  letter-spacing: 0px;
  line-height: 18px;
}

#menu .title { 
}

#menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#menu li {
}

#menu li a {
  display: inline-block;
  color: #0864c7;
}

#left {
  height: 1px;
  float: left;
  display: block;
  min-width: 0;
  overflow: hidden;
  width: 200px;
  margin: 0;
  padding: 0;
}

#main {
  margin-top: 160px;
  float: left;
  width: 600px;
}
