@font-face { font-family: Garamond; src: url('GaramondPP.ttf'); } 
@font-face { font-family: Avenir; src: url('av.ttf'); } 

body {
  font-family: Garamond;
  font-size: 18px;
  line-height: 1.6em;
  letter-spacing: .045em;
  /*
  font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
  line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 300px)/(1600 - 300)));
  */
}

#menu {
  float: right;
  margin-top: 7.5vh;
  margin-right: 3.5vw;
  text-align: right;
  width: 9em;
  font-family: Avenir;
}

#menu .title a { 
  font-size:1.2em; 
  letter-spacing: .07em;
  color: black; 
  text-decoration: none;
}

#menu ul {
  margin-top: 0em;
  font-size: .83em;
  letter-spacing: 0ch;
  list-style-type: none;
  line-height: 1.2em;
}

#menu li a {
  color: #0864c7;
}

#main {
  margin-top: 20vh;
  margin-left: 14vw;
  float: left;
  width: 45vw;
}

p.comment {
  margin-top: 0;
  font-size: 14px;
  font-style: italic;
  color: #919191;
}

@media (max-width:450px) {

  #menu {
    margin-top: 5vh;
    margin-right: 1vw;
  }

  #main {
    margin-top: 5vh;
    margin-left: 5vw;
    width: 85vw;
  }
}